.grid-container {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3vh;
}

.grid-item {
  width: 20vw;
}

.icon-container {
  /* border-radius: 2rem;
  overflow: hidden; */
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  padding: 2vh 0;
  text-align: center;
  font-size: 2vh;
  color: gray;
}


.bottom-bar-container .homepage-icon,.back-icon {
  display: none;
}

.bottom-bar-container .homepage-icon {
  text-align: center;
}

.bottom-bar-container .homepage-icon img {
  height: 8vh;
  margin-top: 1vh;
}


.bottom-bar-container .back-icon {
  text-align: center;
}

.bottom-bar-container .back-icon img {
  height: 3vh;
  margin-top: 3.5vh;
}

.bottom-bar-container.show-homepage .homepage-icon {
  display: block;
}

.bottom-bar-container.show-back .back-icon {
  display: block;
}